html{
    scroll-behavior: smooth;
}

/* The following is to enable light and dark themes for the website*/

:root{
    --blue: #93d4ff;
    --white: #ffffff;
    --black: #000000;
    --grey: #050A20;

}

.light-theme {
    --bg: var(--blue);
    --fontColor: var(--white);
    --contColor: var(--grey);
    --contShadow: var(--grey);
}

.dark-theme {
    --bg: var(--grey);
    --fontColor: var(--white);
    --contColor: var(--grey);
    --contShadow: var(--white);
  }

  
* {
    margin: 0px;
    padding: 0px;
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: linear-gradient(#050A20, #0d194b);
    height:1400vh;
}

nav {
    margin: 0px 0px 0px 0px;
    margin:0px;
    padding:0px;
    top: 0;
}
.top_nav{
    position:fixed;
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(116, 0, 0);
    overflow: hidden;
    width: 100%;
    align-items: center;
    z-index: 1000000;
    padding: 0.5vh 0vh;
    margin: auto;
    top: 0;
}

.top_nav a {
    float: left;
    color: #777777;
    text-align: center;
    margin-left: 2vw;
    padding: 1vh 1vw;
    text-decoration: none;
    font-size: min(4.0vw, 17px);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 24px;
    display:block;
}

.top_nav a:hover {
    color:black;
    background: #21a6f3;
    box-shadow: 0px 0px 15px 10px rgba(248, 248, 248, 0.5);
    transition: 0.5s;
}

.top_nav .dark_mode{
    color:rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
/* Home page styling */
.home{
    background:url("homeBG.jpg") no-repeat center;
    background-size: cover;
    color: white;
    display: flexbox;
    position:relative;
    margin:auto;
    top: 8vh;
    position:absolute;
    height: 100vh;
    width:100%;
    background-color: var(--contColor);
    transition:0.2s;

}

.home .div_text{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 65vh;
    width: clamp(45ch, 50%, 75ch);
    margin-top: 15vh;
    margin-left: clamp(1px, 10%, 25vw);
    box-shadow: 0px 0px 15px 10px rgba(248, 248, 248, 0.096);
    border-radius: 24px;
    z-index: 100;
    background-color: rgba(204, 204, 204,0.2);
    transition:0.2s;


}

.home h1{
    font-size: min(9.0vw,46px);
    margin-top: 2vh;
    margin-left: 1vw;
    
}

.home p{
    font-size: min(6.0vw, 32px);
    margin-left: 1vw;
    margin-top: 8vh;
}

.home a{
    text-align: center;
    text-decoration: none;
    margin-top: 6vh;

    font-size: min(6.0vw, 32px);
    border: 2px solid black;
    padding: 2vh;
    border-radius: 32px;
    display:block;

    background-color: #112169;
}

.home a:hover{
    background: green;
    transition: 0.5s;
}

.python {
    position: relative;
    margin-top: 108vh;
    height: 100vh;
    /* background: #050A20; */
}

.python .vaccine_app{
    display: flex;
    margin-top:2vh;
    margin-left: 4vw;
    font-size: min(3.0vw, 32px);
}

.python .title-1{
    margin-top:8vh;
    text-decoration:underline;
    font-size: min(5.0vw,46px);
}

.python .title-2{
    margin-left: 2vw;
    margin-top: 2vh;
    font-size: min(5.0vw,32px);
}

.vaccine_container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.python .vaccine_app .slide_show1{
    margin-left: 5vw;
    
}

.python .vaccine_app .slide_show1 img{
    position: relative;
    width:min(60vw, 600px);
}

.python .vaccine_app .vaccine_app_about{
    position: relative;
    border-radius: 24px;
    border: 2px solid black;
    background-color: rgba(204, 204, 204,0.2);
    width:min(60vw, 900px);
    height: 65vh;
    margin-left: 5vw;
    box-shadow: 0px 0px 15px 10px rgba(248, 248, 248, 0.096);
    transition:0.2s;

}

.python .vaccine_app .vaccine_app_about .about_text{


}

/* -------------- THE FOLLOWING CODE IS FOR THE DARK MODE SLIDER ------------------ */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #21a6f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #21a6f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }