html{
    scroll-behavior: smooth;
}

/* The following is to enable light and dark themes for the website*/

:root{
    --blue: #93d4ff;
    --white: #ffffff;
    --black: #000000;
    --grey: #050A20;

}

.light-theme {
    --bg: var(--blue);
    --fontColor: var(--white);
    --contColor: var(--grey);
    --contShadow: var(--grey);
}

.dark-theme {
    --bg: var(--grey);
    --fontColor: var(--white);
    --contColor: var(--grey);
    --contShadow: var(--white);
  }

  
* {
    margin: 0px;
    padding: 0px;
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}

nav {
    margin: 0px 0px 0px 0px;
    margin:0px;
    padding:0px;
    top: 0;
}
.top_nav{
    position:fixed;
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(6, 114, 255);
    overflow: hidden;
    width: 100%;
    align-items: center;
    z-index: 1000000;
    padding: 0.5rem 0rem;
    margin: auto;
    top: 0;
}

.top_nav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border: black;
    display:block;
}

.top_nav .dark_mode{
    color:rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
/* Home page styling */
.home{
    background:url("homeBG.jpg") no-repeat right;
    color: white;
    display: flex;
    position:relative;
    margin:auto;
    top: 6rem;
    position:absolute;
    height: 40rem;
   width:100%;
    background-color: var(--contColor);

}

.home .div_text{
    height: 30rem;
    width:50rem;
    margin-top: 5rem;
    margin-left: 10rem;
    box-shadow: 0px 0px 15px 10px rgba(248, 248, 248, 0.096);
    border-radius: 24px;
    z-index: 100;
}

.home h1{
    font-size: 46px;
    margin-top: 12rem;
    margin-left: 1rem;
}

.home p{
    font-size: 27px;
    margin-left: 24px;
}


.python {
    display:flex;
    position: relative;
    margin-top: 46rem;
    height: 40rem;
    background: rgb(46, 0, 48);
}

.python .title-1{
    margin-top:8rem;
    margin-left: 12rem;
    text-decoration:underline;
    font-size: 46px;
}
/* -------------- THE FOLLOWING CODE IS FOR THE DARK MODE SLIDER ------------------ */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #21a6f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #21a6f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }